{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "defaultTitle",
    "description" : "defaultDescription",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://e-sprawozdania-tst.mf.gov.pl"
  } ],
  "paths" : {
    "/dmz/api/espr/init/" : {
      "post" : {
        "description" : "Auto generated using Swagger Inspector",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "type" : "string"
              },
              "examples" : { }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "ReferenceNumber" : {
                      "type" : "string"
                    },
                    "PackageSignature" : {
                      "type" : "object",
                      "properties" : {
                        "PackageName" : {
                          "type" : "string"
                        },
                        "FileSignatureList" : {
                          "type" : "object",
                          "properties" : {
                            "FileSignature" : {
                              "type" : "object",
                              "properties" : {
                                "FileName" : {
                                  "type" : "string"
                                },
                                "HeaderEntry" : {
                                  "type" : "array",
                                  "properties" : {
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "Value" : {
                                          "type" : "string"
                                        },
                                        "Key" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "Method" : {
                                  "type" : "string"
                                },
                                "URL" : {
                                  "type" : "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Timestamp" : {
                      "type" : "number"
                    }
                  }
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"ReferenceNumber\":\"9f43f94ccb0343b8a3f4ae061d53aac1\",\"Timestamp\":1541671422888,\"PackageSignature\":{\"PackageName\":\"eSPR_package.zip\",\"FileSignatureList\":{\"FileSignature\":{\"FileName\":\"eSPR_package.zip.aes\",\"URL\":\"https://e-sprawozdania-tst.mf.gov.pl:443/dmz/api/espr/upload/9f43f94ccb0343b8a3f4ae061d53aac1/5db6f93a-8a90-40f6-985f-81def1a1c645\",\"Method\":\"PUT\",\"HeaderEntry\":[{\"Key\":\"rn\",\"Value\":\"9f43f94ccb0343b8a3f4ae061d53aac1\"},{\"Key\":\"fi\",\"Value\":\"5db6f93a-8a90-40f6-985f-81def1a1c645\"}]}}}}"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}